[package]
name = "tools"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = {workspace = true}
zelana-core = { workspace = true}
wincode = { workspace = true}
serde_json = "1.0.145"
hex = "0.4.3"